* {
}

.btn {
  font-family: sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.0em;
  margin: 40px 0;
}

.charts span.title {
  display: table;
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
}

.charts svg {
  display: block;
}

.d3-tip {
  min-width: 30px;
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.heading h1 span#userReviewed {
  vertical-align: sub;
}

.heading h1 span.buttons {
  margin-top: 10px;
  margin-bottom: 30px;
  float: right;
}

.heading h1 span.buttons * {
  float: right;
}

.heading h1 span.buttons a.btn {
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

ul.abstracts li, ul.events li {
  font-family: 'Roboto Slab', serif;
  margin: 12px 0;
}

ul.abstracts li a, ul.events li a {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 1.3em;
  color: #7e7e7e;
}

ul.abstracts li a:hover, ul.events li a:hover {
  color: #3d3d3d;
}

ul.abstracts li span.author {
  font-weight: 300;
  margin-left: 6px;
}

.abstract p {
  font-size: 1.5em;
  font-family: serif;
}

.well.scoring {
  margin-top: 50px;
  padding: 40px 0;
}

.slider {
  margin-left: 40px;
  margin-top: 10px;
}

.slider-selection {
  background: #ccc;
}

.slider-handle {
  opacity: 1.0;
}

span.saveScore {
  float: right;
  margin-right: 40px;
}

#abstractForm button {
  margin-top: 15px;
}

div.footer {
  min-height: 150px;
}