* {
}

.btn {
  font-family: sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.0em;
}

h4#label {
  margin: 25px 0 35px;
}

.charts span.title {
  display: table;
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
}

.charts svg {
  display: block;
}

.d3-tip {
  min-width: 30px;
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.heading h1 span#userReviewed {
  vertical-align: sub;
  opacity: 0.6;
}

.heading h1 div.buttons {
  margin-top: 10px;
  margin-bottom: 30px;
}

.heading h1 .buttons button#sort {
  min-width: 65px;
}

.heading h1 .buttons ul li a {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

ul.abstracts li.hidden {
  display: none;
}

ul.abstracts li, ul.events li {
  font-family: 'Roboto Slab', serif;
  margin: 12px 0;
}

ul.abstracts li span.score {
  display: inline-block;
  min-width: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  background: #bbb;
  border-radius: 15px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}

ul.abstracts li span.count {
  display: inline-block;
  min-width: 25px;
  margin-left: 65px;
  margin-bottom: 3px;
  background: #bbb;
  border-radius: 12px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}

ul.abstracts li span.comment {
  margin-left: 10px;
}

ul.abstracts li a, ul.events li a {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 1.3em;
  color: #7e7e7e;
}

ul.abstracts li a:hover, ul.events li a:hover {
  color: #3d3d3d;
}

ul.abstracts li span.author {
  font-weight: 300;
  margin-left: 6px;
  color: #777;
}

ul.abstracts li span.author a {
  font-weight: 300;
  font-size: inherit;
  color: #777;
}

div.abstract {
  padding: 0;
}

.abstract h1#title.hidden, .abstract div#body.hidden, .abstract div.form.hidden {
  display: none;
}

.abstract div.form {
  margin-top: 30px;
}

.abstract .form h1 {
  margin: 15px 0 30px;
}

.abstract .form button {
  margin-top: 10px;
}

.abstract .form button#edit {
  margin-left: 10px;
}

.abstract div#body {
  font-size: 1.5em;
  font-family: serif;
}

.well.scoring {
  margin-top: 50px;
  padding: 40px 0;
}

.commentbox {
  margin-left: 40px;
  margin-bottom: 20px;
  width: 86%;
}

.slider {
  margin-left: 40px;
  margin-top: 10px;
}

.slider-selection {
  background: #ccc;
}

.slider-handle {
  opacity: 1.0;
}

span.saveScore {
  float: right;
  margin-right: 40px;
}

.saveScore ul li a:hover, .buttons ul li a:hover {
  background-color: rgb(245, 245, 245);
  color: #000;
}

#abstractForm button {
  margin-top: 15px;
}

div.progress {
  min-height: 90px;
  padding: 13px 0;
}

.progress {
  background: none;
  box-shadow: none;
  font-weight: 200;
  color: #bbb;
}

.progress span {
  font-weight: 100;
  color: #666;
  margin: 0 5px;
}

.progress span#chart {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
  opacity: 0.5;
}

.progress span#completed {
  font-size: 3.0em;
}

.progress span#total {
  font-size: 2.0em;
}

div.footer {
  min-height: 150px;
}
