<div class="heading">
  <h1>New Abstract</h1>
</div>

<div id="abstractForm">
  <form class="col-md-8" method="post" role="form">
    <div class="form-group">
      <label for="full_name">Speaker</label>
      <input class="form-control" type="text" name="full_name" placeholder="Full name"></input>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" placeholder="Email"></input>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control form-input" name="type">
        <option value="session">Session</option>
        <option value="workshop">Workshop</option>
        <option value="lightning">Lightning Talk</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" placeholder="e.g. How to DevOps your Nagios"></input>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" rows="10" name="body" placeholder="Paste abstract body here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Abstract</button>
  </form>
</div>